<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat A Beat</title>
    <meta name="description" content="OAuth 2 Authorization Code Flow example for Spotify.">
    <link rel="icon" type="image/png" href="assets/Spoti_DarkGreen.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/game.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
  </head>
  <body>
    <main id="game-view" style="background-color: #FFC858;" hidden>
    </main>

    <div id="devices" hidden>
      <div id="startSpotify" hidden>
        <h3>Start Spotify on any device before continuing.</h3>
        <button class="btn btn-primary" onClick="refreshPage()">Continue</button>
      </div>
      <div id="chooseDevice" hidden>
        <h3>Choose a device to play on.</h3>
        <div id="deviceList"></div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/playback.js"></script>
    <script src="/game.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
