<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat A Beat</title>
    <meta name="description" content="OAuth 2 Authorization Code Flow example for Spotify.">
    <link rel="icon" type="image/png" href="assets/Spoti_DarkGreen.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
  </head>
  <body>

    <div id="content" style="position:absolute; top: 0; right: 0; bottom: 0; left: 0;">
      <div id="loggedOut">
        <img src="/assets/Spoti_DarkGreen.svg" width="50px" id="logoLoggedOut">
        <h2>Eat A Beat!</h2>
        <p>Eat the flying beats of your favourite song!</p>
        <button class="btn btn-primary" id="login">Log in</button>
      </div>

      <div id="loggedIn">
        <header>
          <div id="userInfo" style="position: absolute; margin-top: 5px;">
            <img id="avatar">
            <h4 id="displayName" style="float:left; margin: 10px 0 0 10px;"></h4>
          </div>
          <div style="">
            <a href="/logout" class="btn btn-link pull-right" id="logout" style="color: #29977F;">Log out</a>
          </div>
        </header>

        <img src="/assets/Spoti_DarkGreen.svg" id="logoLoggedIn">

        <div id="searchBox">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search" style="color: #FFC858;"></i></span>
            <input id="search" type="search" placeholder="Dancing Queen, God's Plan...">
          </div>
        </div>

        <div id="searchResults">

        </div>
      </div>
    </div>

    <div id="pause">&#9612;&#9612;</div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/particles.js"></script>
    <script src="/indexPage.js"></script>

  </body>
</html>
