/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@font-face{
  font-family: Visitor;
  src: url(assets/fonts/visitor1.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFC858;
}

header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.btn-primary {
  background-color: #29977F;
  color: #FFC858;
}

.btn-primary:hover {
  background-color: #53AA97;
  color: #FFC858;
}

.btn-primary:active {
  background-color: #29977F;
  color: #FFC858;
}

#devices {
  background-color: #FFC858;
  color: #29977F;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
