/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@font-face{
  font-family: Visitor;
  src: url(assets/fonts/visitor1.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFC858;
}

header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition:opacity 1000ms;
}

.btn-primary, .btn-primary:active, .btn-primary:link, .btn-primary:visited {
  background-color: #29977F !important;
  color: #FFC858 !important;
}

.btn-primary:hover {
  background-color: #53AA97 !important;
  color: #FFC858 !important;
}

a, a:active, a:link, a:visited {
  color: #29977F !important;
}

a:hover {
  color: #53AA97 !important;
}

#devices {
  background-color: #FFC858;
  color: #29977F;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
