/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@font-face{
  font-family: Visitor;
  src: url(assets/fonts/visitor1.ttf);
}

@font-face{
  font-family: Visitor2;
  src: url(assets/fonts/visitor2.ttf);
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
