/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  background-color: #FFC858;
  color: #29977F;
  text-align: center;
  margin-top: 100px;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 20px 40px;
}

div#pause {
  z-index: 500;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  display: none;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#logoLoggedOut {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#logoLoggedIn {
  width: 80px;
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.btn-primary {
  background-color: #29977F;
  color: #FFC858;
}

.btn-primary:hover {
  background-color: #53AA97;
  color: #FFC858;
}

.btn-primary:active {
  background-color: #29977F;
  color: #FFC858;
}

#connect {
  position:absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#resume {
  position:absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#loggedOut {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#loggedIn {

}

#searchBox {
  width: 50%;
  position: absolute;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.input-group {
  text-align: left;
  background-color: #29977F;
  border-radius: 500px;
}

.input-group-addon {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 28px;
  padding-right: 0px;
  border: 0px;
  background-color: #29977F;
  outline: none;
}

#search {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding: 16px 28px;
  border-radius: 500px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0px;
  background-color: #29977F;
  color: #FFC858;
  width: 100%;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFC858;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFC858;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFC858;
}

.card {
  background-color: #29977F;
  color: #FFC858;
  width: 200px;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
}

#searchResults {
  position: absolute;
  top: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
