<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Grupp 4</title>
    <meta name="description" content="OAuth 2 Authorization Code Flow example for Spotify.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
  </head>
  <body>
    <header>
      <button class="btn btn-primary" id="login">Log in</button>
      <a href="/logout" class="btn btn-secondary" id="logout">Log out</a>
    </header>

    <main id="game-view">
    </main>

    <div id="pause">&#9612;&#9612;</div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/client.js"></script>
    <script src="/playback.js"></script>
    <script type="text/javascript" src="mock.json"></script>
    <script src="/game.js"></script>

  </body>
</html>
